* {
 margin: 0;
 padding: 0;
 border: none;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

button {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
}

body {
  flex-direction: column;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  height: 670px;
  background-color: black;
}

.container {
  display: flex;
  height: 380px;
  width: 380px;
}

.row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.square {
  background-color: lightblue;
  border: 1px solid #000;
  flex-grow: 1;
}
