* {
 margin: 0;
 padding: 0;
 border: none;
}

body {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-color: black;
}

.container {
  display: flex;
  height: 600px;
  width: 600px;
}

.row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.square {
  background-color: lightblue;
  border: 1px solid #000;
  flex-grow: 1;
}
